*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: "Manrope", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --color-text: #322E26;
    --color-bg: #ECE1D3;
    --color-accent: #B87107;
}

@media (prefers-color-scheme: dark) {
    :root{
        --color-text: #ECE1D3;
        --color-bg: #322E26;
    }
}

body{
    color: var(--color-text);
    background-color: var(--color-bg);
}


button{
    color: var(--color-bg);
    border: 0;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 32px;
    border-radius: 8px;
    background-color: var(--color-accent);
}

a{
    color: var(--color-accent);
    font-weight: bold;
    text-decoration: none;
}